a.style {
	margin-left: 50px;
}

h1.style {
	margin-left: 200px;
	margin-right: 200px;
	font-size: 50.5px;
}

h2.style {
	margin-left: 200px;
	margin-right: 200px;
	font-size: 16.5px;
}

h3.style {
	margin-left: 200px;
	margin-right: 200px;
	font-size: 30px;
}

p.style {
	margin-left: 200px;
	margin-right: 200px;
}