@media (prefers-color-scheme: light) {
  body {
    color: black;
    background: white;
    text-align: center;
    text-decoration: none;
    margin: auto;
  }

  a {
    margin: auto;
  }

  a:link {
    color: inherit;
    text-decoration: none;
  }

  nav { 
    display: block; 
    margin: 0; 
    padding: 1em 0; 
  }

  h1 {
    margin: auto;
    color: black;
    width: auto;
    font-size: xx-large;
    text-decoration: none;
  }

  a h1:link {
    color: inherit;
  }

  a h1:visited {
    color: black;
  }

  a h1:hover {
    color: gray;
  }

  a h1:active {
    color: gray;
    text-decoration: underline;
  }

  h2 {
    margin: auto;
    color: black;
    width: auto;
    font-size: larger;
    text-decoration: none;
    display: flex;
  }

  a h2:link {
    color: inherit;
  }

  a h2:visited {
    color: inherit;
  }

  a h2:hover {
    color: gray;
  }

  a h2:active {
    color: gray;
    text-decoration: underline;
  }

  h3 {
    margin: auto;
    color: black;
    width: auto;
    font-size: x-large;
    text-decoration: none;
  }

  a h3:link {
    color: inherit;
  }

  a h3:visited {
    color: gray;
  }

  a h3:hover {
    color: gray;
  }

  a h3:active {
    color: inherit;
    text-decoration: underline;
  }

  p {
    margin: auto;
    width: auto;
    color: black;
    text-align: justify;
    font-size: medium;
    text-decoration: none;
  }

  p a:link {
    color: inherit;
    font-weight: bold;
  }

  p a:visited {
    color: gray;
  }

  p a:hover {
    color: gray;
  }

  img {
    margin: auto;
    width: auto;
    max-width: 100%;
    display: flex;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: black;
    width: auto;
    text-align: center;
    text-decoration: none;
  }

  a {
    margin: auto;
  }

  a:link {
    color: inherit;
    text-decoration: none;
  }

  h1 {
    margin: auto;
    color: white;
    font-size: xx-large;
    width: auto;
    text-decoration: none;
  }

  a h1:link {
    color: inherit;
  }

  a h1:visited {
    color: white;
  }

  a h1:hover {
    color: gray;
  }

  a h1:active {
    color: gray;
    text-decoration: underline;
  }

  h2 {
    margin: auto;
    color: white;
    font-size: larger;
    width: auto;
    text-decoration: none;
    display: flex;
  }

  a h2:link {
    color: inherit;
  }

  a h2:visited {
    color: inherit;
  }

  a h2:hover {
    color: gray;
  }

  a h2:active {
    color: gray;
    text-decoration: underline;
  }

  h3 {
    margin: auto;
    color: white;
    width: auto;
    font-size: x-large;
    text-decoration: none;
  }

  a h3:link {
    color: inherit;
  }

  a h3:visited {
    color: gray;
  }

  a h3:hover {
    color: gray;
  }

  a h3:active {
    color: inherit;
    text-decoration: underline;
  }

  p {
    margin: auto;
    width: auto;
    color: white;
    text-align: justify;
    font-size: medium;
    text-decoration: none;
  }

  p a:link {
    color: inherit;
    font-weight: bold;
  }

  p a:visited {
    color: gray;
  }

  p a:hover {
    color: gray;
  }

  img {
    margin: auto;
    width: auto;
    max-width: 100%;
    display: flex;
  }
}
